:host {
    --table-body-row-height: 2.188rem;
}

.main-spinner-container {
    height: 2.5rem;
}

header {
    height: 2rem;
}

.slds-card__header {
    background-color: #f3f3f3;
    padding: 1rem !important;
    margin-bottom: 0px !important;
}

.slds-card__body {
    padding: 0px !important;
    margin: 0px !important;
}

table caption {
    display: none;
}

tbody tr {
    height: var(--table-body-row-height);
}

tr th:first-of-type,
tr td:first-of-type {
    width: 3.25rem;
    padding-left: 0.5rem !important;
}

tr th:last-of-type {
    width: 3.25rem;
}

.slds-card__footer {
    border-top: 0px !important;
    margin-top: 0px !important;
}

.slds-badge.Activated {
    --slds-c-badge-color-background: #fe9339;
    --slds-c-badge-text-color: #181818;
}

.slds-badge.Shipped {
    --slds-c-badge-color-background: #0176d3;
    --slds-c-badge-text-color: #fff;
}

.slds-badge.Delivered {
    --slds-c-badge-color-background: #2e844a;
    --slds-c-badge-text-color: #fff;
}