.draft-status {
    --slds-c-badge-color-background: gray;
}

.activated-status {
    --slds-c-badge-color-background: orange;
}

.shipped-status {
    --slds-c-badge-color-background: blue;
}

.delivered-status {
    --slds-c-badge-color-background: green;
}